<html>
    <head>
        <title>Ping Pong!</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>Ping Pong!</h1>
            <ul>
                {% for number in result %}
                <li>{{ number }}</li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
